
@{
    ViewBag.Title = "Perkuliahan";
}
<div class="form-group">
    <div class="row">
        <div class="col-sm-2">
            <h3><a href="/Dosen/index">DOSEN</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="/MAHASISWA/index">MAHASISWA</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="/Matakuliah/index">MATAKULIAH</a></h3>
        </div>
        <div class="col-sm-2">
            <h3><a href="/Perkuliahan/index">PERKULIAHAN</a></h3>
        </div>
    </div>
</div>
<h2>Perkuliahan</h2>
<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Perkuliahan")')"><i class="fa fa-plus"></i> Add New</a>
<table id="perkuliahanTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>NIM</th>
            <th>KODE_MK</th>
            <th>NIP</th>
            <th>NILAI</th>
            
            <th></th>
        </tr>
    </thead>
</table>

<link href="/plug/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="/plug/jquery.dataTables.min.js"></script>
    <script src="/plug/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#perkuliahanTable").DataTable({
                "ajax": {
                    "url": "/Perkuliahan/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NIM" },
                    { "data": "KODE_MK" },
                    { "data": "NIP" },
                    { "data": "NILAI" },
                    {"data":"NIM" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Perkuliahan")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete('"+data+"')><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable": false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Perkuliahan Details',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function SubmitForm(form) {
            //alert(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Perkuliahan Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Perkuliahan")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>
}